@model IEnumerable<EstateAgency.Models.Firm>

@{
    ViewData["Title"] = "Index";
}

<h2>Список клиентов (юридические лица)</h2>

<p>
    <a asp-action="Create">Добавить юридическое лицо</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UNP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientStatus)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UNP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Сведения</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
