@model IEnumerable<EstateAgency.Models.SaleTreaty>

@{
    ViewData["Title"] = "Index";
}

<h2>Договоры купли-продажи</h2>

<p>
    <a asp-action="Create">Добавить договор купли-продажи</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalSalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalSalePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SignDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Сведения</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
