@model IEnumerable<EstateAgency.Models.SaleApplication>

@{
    ViewData["Title"] = "Index";
}

<h2>Список заявок на продажу недвижимости</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    Цена продажи
                </th>
                <th>
                    Наименование клиента
                </th>
                <th>
                    Телефон
                </th>
                <th>
                    Контактное лицо
                </th>
                <th>
                    Тип объекта недвижимости
                </th>
                <th>
                    Площадь
                </th>
                <th>
                    Иные сведения
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstateType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstateArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherRequirements)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
